*{
    padding: 0;
    margin: 0;
    list-style: none;
}
html,body{
      padding: 0px;
    margin: 0px;
    background: #f4f4f4;
}
nav{
    width: 100%;
    height: 0.5rem;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
   div{
       margin-top: 0.08rem;
   }
}
.oumei{
    font-size: 0.16rem;
}
article{
    width: 100%;
    height: 5rem;
    background: #202020;
    overflow: hidden;
}
.tu1{
    width: 100%;
    height: 2.3rem;
    margin-top: 0.52rem;
    img{
        width: 100%;
        height: 100%;
    }
}
.ul1{
    display: flex;
    justify-content: space-around;
    li{
        width:0.55rem;
        height: 0.5rem;
        text-align: center;
        color: #39c893;
       div{
        width:0.22rem;
        height: 0.22rem;
        border: 0.02rem solid #39c893;
        border-radius:50%;
        margin-top: -0.13rem;
        background: #000;
        margin-left: 0.1rem;
       }
       p{
           margin-top: 0.15rem;
           font-size: 0.14rem;
       }
    }
}

.wenzhi{
    font-size:0.18rem;
    color: #FFFFFF;
    margin-left: 0.03rem;
    margin-top: 0.35rem;
}

#div7{
    width: 100%;
    height: 1.5rem;
    background: #FFFFFF;
    margin-top:0.18rem;
   p{
       font-size:0.14rem;
       color: #333;
       position: relative;
       top: 0.18rem;
   }
}
#div8{
    width: 100%;
    height: 1.65rem;
    background: #FFFFFF;
    margin-top: 0.18rem;
    p{
        font-size: 0.14rem;
        text-align: center;
        position: relative;
        top: 0.2rem;
        color: #333;
    }
    span{
        font-size:0.15rem;
        color: #39c893;
    }
    ul{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 0.3rem;
        font-size: 0.15rem;
    }
}

#div9{
    width: 100%;
    height: 0.6rem;
    margin-top: -0.8rem;
    background: #fe6a73;
    opacity:80%;
   position: fixed;
   bottom: 0;
   
    span{
        font-size:0.253rem;
        margin-left: 0.7rem;
        line-height: 0.6rem;
        color: #FFFFFF;
    }
    
}
