* {
  padding: 0;
  margin: 0;
  list-style: none; }

html, body {
  padding: 0px;
  margin: 0px;
  background: #f4f4f4; }

nav {
  width: 100%;
  height: 0.51rem;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between; }
  nav .div1 {
    width: 1.07rem;
    height: 0.37rem;
    margin-left: 0.09rem;
    padding: 0.08rem; }
    nav .div1 img {
      width: 100%;
      height: 100%; }
  nav .div2 {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: space-between; }
    nav .div2 .icon-nav {
      font-size: 0.1525rem;
      color: #999999;
      text-align: center;
      margin-top: 0.099rem;
      margin-left: 0.3rem; }
    nav .div2 .p1 {
      font-size: 0.11rem;
      text-align: center;
      color: #999;
      margin-left: 0.3rem; }
  nav .div3 {
    font-size: 0.18rem;
    margin-left: -0.1rem;
    line-height: 0.51rem; }

banner {
  width: 100%;
  height: 1.25rem; }
  banner img {
    width: 100%;
    height: 100%; }

#div1 {
  width: 100%;
  height: 7rem;
  background: #FFFFFF;
  overflow: hidden; }

.di6 {
  width: 3rem;
  height: 0.25rem;
  background: #f4f4f4;
  margin-left: 0.1rem;
  margin-top: 0.05rem; }
  .di6 span {
    font-size: 0.14rem;
    line-height: 0.25rem; }

.di7 {
  text-align: center;
  margin-top: 0.18rem; }
  .di7 span {
    font-size: 0.16rem;
    position: relative;
    top: 0.2rem;
    color: #a7a7a7; }

.p2 {
  font-size: 0.18rem; }

.di3 {
  width: 100%;
  height: 0.55rem;
  margin-top: 0.3rem; }
  .di3 span {
    margin-top: 0.09rem;
    margin-left: 0.1rem;
    font-size: 0.12rem;
    border-radius: 0.1rem;
    border: 0.01rem solid #eaeaea;
    display: inline-block;
    color: #999999; }

.di4 {
  font-size: 0.12rem;
  color: #666;
  margin-top: 0.18rem; }

.di5 {
  width: 2.64rem;
  height: 1.77rem;
  margin: 0 auto;
  margin-top: 0.15rem; }
  .di5 img {
    width: 100%;
    height: 100%; }

.en1 {
  width: 3rem;
  height: 0.35rem;
  margin-left: 0.1rem;
  border: 0.01rem solid #39c895;
  text-align: center;
  line-height: 0.35rem;
  font-size: 0.18rem;
  color: #39c895;
  margin-top: 0.25rem;
  border-radius: 0.05rem; }

.nen2 {
  display: flex;
  justify-content: space-around;
  margin-top: 0.19rem; }
  .nen2 span {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    border: 0.02rem solid #1c9af5;
    border-radius: 50%;
    font-size: 0.29rem;
    color: #1c9af5; }
    .nen2 span p {
      font-size: 0.12rem; }

#div6 {
  width: 100%;
  height: 3.7rem;
  background: #FFFFFF;
  margin-top: 0.18rem;
  overflow: hidden; }

.div31 div {
  width: 3rem;
  height: 0.35rem;
  border: 0.01rem solid #ebebeb;
  text-align: center;
  border-radius: 0.02rem;
  line-height: 0.35rem;
  font-size: 0.14rem;
  color: #39C893; }

.div32 {
  width: 100%;
  height: 1rem;
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-around; }

.di1 {
  width: 34%;
  height: 0.725rem;
  margin-left: 0.1rem; }
  .di1 img {
    width: 100%;
    height: 100%; }

.p3 {
  font-size: 0.18rem;
  margin-left: 0.11rem; }

.p9 {
  font-size: 0.2rem; }

.di2 span {
  margin-left: 0.13rem;
  color: #999; }

#div7 {
  width: 100%;
  height: 1.5rem;
  background: #FFFFFF;
  margin-top: 0.18rem; }
  #div7 p {
    font-size: 0.14rem;
    color: #333;
    position: relative;
    top: 0.18rem; }

#div8 {
  width: 100%;
  height: 1.65rem;
  background: #FFFFFF;
  margin-top: 0.18rem; }
  #div8 p {
    font-size: 0.14rem;
    text-align: center;
    position: relative;
    top: 0.2rem;
    color: #333; }
  #div8 span {
    font-size: 0.15rem;
    color: #39c893; }
  #div8 ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 0.3rem;
    font-size: 0.15rem; }

#div9 {
  width: 100%;
  height: 0.6rem;
  margin-top: -0.8rem;
  background: #000;
  opacity: 80%;
  display: flex;
  justify-content: space-between; }
  #div9 button {
    width: 0.875rem;
    height: 0.25rem;
    background: #eed215;
    border: 0;
    border-radius: 0.12rem;
    color: #FFFFFF;
    margin-top: 0.1rem;
    font-size: 0.12rem; }

.tup2 {
  width: 0.25rem;
  height: 0.25rem; }
  .tup2 img {
    width: 100%;
    height: 100%; }

.tup1 {
  width: 0.56rem;
  height: 0.45rem;
  position: relative;
  top: 0.05rem; }
  .tup1 img {
    width: 100%;
    height: 100%; }

.p4 {
  font-size: 0.16rem;
  color: #eed215;
  width: 1.5rem; }

.p5 {
  position: relative;
  left: -0.1rem;
  font-size: 0.16rem;
  color: #FFFFFF;
  width: 1.5rem; }

/*# sourceMappingURL=wenzhang.css.map */
